* {
    box-sizing: border-box;
}

.main-container {
    text-align: center;
}

h1 {
    border-top: #888 1px solid;
    padding-top: 10px;
}

h3 {
    margin-top: 20px;
    color: #666;
}
/* ボタン共通 */
.btn {
    display: inline-block;
    padding: 10px 20px;
    line-height: 30px;
    cursor: pointer;
    background-color: #aaa;
    border: 1px #eee solid;
    border-radius: 4px;
}

/* header 時間の表示 */
header {
    margin-top: 0;
    height: 50px;
    width: 100%;
    background-color: darkcyan;
    color: whitesmoke;
}

.show-time {
    margin: 0;
    display: flex;
    align-items: center;
}
.show-time p {
    margin: auto 30px;
    line-height: 50px;
}

/* URL */
.url-box {
    text-align: center;
}

/* スライドショー */
.intro {
    text-align: center;
    font-weight: bold;
}

.intro img {
    display: block;
    width: 300px;
    height: 300px;
}
/* card */
.cards {
    display: flex;
    /* 折り返し指定 */
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
}

.card {
    background-color: beige;
    width: 45%;
    text-align: center;
    padding: 15px;
    margin: 15px;
    color: #666;
}
.cards h2 {
    width: 100%;
    text-align: center;
}

/* 他のパーツにも共通 */
.wrapper {
    display: flex;
    justify-content: space-around;
    /* padding: 30px 0; */
    max-width: 1000px;
    margin: 0 auto;
}
.wrapper h2 {
    margin-top: 0;
}
.wrapper-sub {
    text-align: center;
}

.wrapper-sub img {
    margin: 10px auto;
}

/* 占い */
.star-container h3 {
    margin-top: 20px;
}
.radio-box {
    margin: 0 auto;
    max-width: 410px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.radio-box label {
    padding: 0 5px;
    color: navy;
}

/* カレンダー */
.calendar {
    max-width: 600px;
    text-align: center;
    margin: 30px auto 0;
    color: #666;
}

.calendar-header {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-header a {
    background-color: transparent;
    margin: 0 30px;
    width: 30px;
}

#next-btn {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent #d4b361;
}

#prev-btn {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 26px 15px 0;
    border-color: transparent #d4b361 transparent transparent;
}

.calendar table {
    margin: 0 auto;
}

.calendar td {
    /* tdにサイズを持たせることで、カレンダーの行数が変わってもサイズが固定 */
    width: 30px;
    height: 20px;
}

.calendar td:first-child {
    color: red;
}

.calendar td:last-child {
    color: royalblue;
}

#calendar-main {
    text-align: center;
    width: 100%;
}

.calendar td#today {
    color: green;
}

/* お天気 */
/* (TODO)表の中に罫線がひけない(=td, thにborderがかからない) */
.weather {
    text-align: center;
    color: #666;
}

.weather table {
    margin: 10px auto;
    width: 80%;
    text-align: center;
    /* 表の外側にわく */
    border: solid 1px black;
}

.weather th {
    padding: 5px;
    width: 20%;
    background: #fff5e5; /*背景色*/
}

/* アナログ時計 */
.clock-container {
    display: flex;
    /* flexアイテムを積み重ねるように配置 */
    flex-direction: column;
    /* 各アイテムを均等に配置し
    最初のアイテムは先頭に寄せ、
    最後のアイテムは末尾に寄せる */
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.clock {
    position: relative;
    /* 時計の外枠 */
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    border-radius: 50%;
}
.needle {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    /* 要素の変形transformにおける原点を設定 */
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.needle#hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle#minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
/* 疑似クラス */
/* .center-point::after {
    content: "";
    background-color: black;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
} */

/* 電卓 */
.dentaku {
    background-color: #feb396;
    border: #333 1px solid;
    border-radius: 10px;
    width: 175px;
    margin: 30px;
    padding: 10px;
    text-align: center;
}
.dentaku input {
    margin-bottom: 10px;
}
.dentaku a {
    display: inline-block;
    text-align: center;
    width: 30px;
    line-height: 30px;
    border: #333 1px solid;
    background-color: ivory;
    border-radius: 50%;
    margin: 5px 1px;
}

/* animon */
.contentsAnime {
    width: 65%;
}
.contentsAnime h2 {
    background-color: rgba(200, 43, 100, 0.4);
    font-size: 30px;
    white-space: nowrap;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
}

.contentsAnime p {
    background-color: rgba(30, 30, 30, 0.4);
    font-size: 15px;
    line-height: 1.2;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.contentsAnime ul {
    list-style: none;
}
.contentsAnime li {
    position: relative;
}

.contentsAnime li:nth-last-of-type(odd) .animeText {
    right: 0;
}

.contentsAnime li:nth-last-of-type(even) .animeText {
    margin-left: auto;
}

.animeText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 40px;
}

.contentsAnime img {
    width: 45%;
    border-radius: 5px;
    display: block;
}

/* SVG */
.ico-svg {
    margin: 20px;
}
.ico-svg path {
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

.ico-svg:hover path {
    fill: indianred;
}

/* svgの輪郭をなぞる動き */
.ico-svg-03 {
    margin: 30px;
}

.ico-svg-03 path {
    fill: #eee;
    stroke: transparent;
}

.ico-svg-03:hover path {
    -webkit-animation: stroke 2s ease-in-out forwards;
    animation: stroke 2s ease-in-out forwards;
    stroke: rgba(205, 92, 92, 0.5);
    stroke-dasharray: 1800;
    stroke-dashoffset: 0;
    stroke-width: 1;
}

@-webkit-keyframes stroke {
    0% {
        fill: #eee;
        stroke-dashoffset: 1800;
    }
    10% {
        fill: transparent;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: indianred;
        stroke-dashoffset: 0;
    }
}

@keyframes stroke {
    0% {
        fill: #eee;
        stroke-dashoffset: 1800;
    }
    10% {
        fill: transparent;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: indianred;
        stroke-dashoffset: 0;
    }
}

/* ページ上部に戻るボタン */
#scroll-to-top-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 32px;
    background-color: #9e9e9e;
    border: none;
    border-radius: 50%;
    outline: none;
    transform: rotate(-90deg);

    opacity: 0;
    transition-duration: 0.5s;
}

/* モーダル表示 */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ポップアップ表示 */
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* tool tip */
/* 参考：https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
