# npm install
/node_modules/
package-lock.json
package.json

# prettier
# Ignore artifacts:
build
coverage

# memo
memo.txt

# imgs
/imgs/
summary/gallery_course/imgs/
summary/party_course/imgs/
summary/business_course/imgs/

# constants
js/constants.js

