* {
    box-sizing: border-box;
}

.main-container {
    margin: 20px 20px;
}
/* ボタン共通 */
.btn {
    display: inline-block;
    width: 70px;
    line-height: 30px;
    cursor: pointer;
    background-color: aquamarine;
    border: 1px #eee solid;
    border-radius: 4px;
}

/* header 時間の表示 */
header {
    margin-top: 0;
    height: 50px;
    width: 100%;
    background-color: darkcyan;
    color: whitesmoke;
}

.show-time {
    margin: 0;
    display: flex;
    align-items: center;
}
.show-time p {
    margin: auto 30px;
    line-height: 50px;
}

/* URL */
.url-box {
    text-align: center;
}

/* スライドショー */
.slide-show {
    text-align: center;
    /* display: flex; */
    /* margin-top: 30px auto; */
}

.slide-show img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

/* card */
.cards {
    display: flex;
    /* 折り返し指定 */
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
}

.card {
    background-color: beige;
    width: 45%;
    text-align: center;
    padding: 15px;
    margin: 15px;
    color: #666;
}
.cards h2 {
    width: 100%;
    text-align: center;
}

/* 占い */
.uranai {
    text-align: center;
    margin-top: 30px;
}

.lucky {
    text-align: center;
    margin-top: 30px;
}
.lucky img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

.star-container {
    text-align: center;
    margin: 0 30px;
}
.star-container h3 {
    margin-top: 20px;
}
.radio-box {
    max-width: 500px;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: block;
    margin: 0 auto;
}

.radio-box label {
    padding: 0 5px;
    color: navy;
}

/* カレンダー */
.calendar {
    max-width: 600px;
    text-align: center;
    margin: 30px auto 0;
    color: #666;
}

.calendar-header {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-header a {
    background-color: transparent;
    margin: 0 30px;
    width: 30px;
}

#next-btn {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent #d4b361;
}

#prev-btn {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 26px 15px 0;
    border-color: transparent #d4b361 transparent transparent;
}

.calendar table {
    margin: 0 auto;
}

.calendar td {
    /* tdにサイズを持たせることで、カレンダーの行数が変わってもサイズが固定 */
    width: 30px;
    height: 20px;
}

.calendar td:first-child {
    color: red;
}

.calendar td:last-child {
    color: royalblue;
}

#calendar-main {
    text-align: center;
    width: 100%;
}

.calendar td#today {
    color: green;
}

/* お天気 */
/* (TODO)表の中に罫線がひけない(=td, thにborderがかからない) */
.weather {
    text-align: center;
    color: #666;
}

.weather table {
    margin: 10px auto;
    width: 80%;
    text-align: center;
    /* 表の外側にわく */
    border: solid 1px black;
}

.weather th {
    padding: 5px;
    width: 20%;
    background: #fff5e5; /*背景色*/
}

/* アナログ時計 */
.clock-container {
    display: flex;
    /* flexアイテムを積み重ねるように配置 */
    flex-direction: column;
    /* 各アイテムを均等に配置し
     最初のアイテムは先頭に寄せ、
     最後のアイテムは末尾に寄せる */
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    /* 時計の外枠 */
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    border-radius: 50%;
}
.needle {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    /* 要素の変形transformにおける原点を設定 */
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.needle#hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle#minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
/* 疑似クラス */
/* .center-point::after {
    content: "";
    background-color: black;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
} */

/* 電卓 */
.dentaku {
    background-color: #feb396;
    border: #333 1px solid;
    border-radius: 10px;
    width: 175px;
    margin: 30px;
    padding: 10px;
    text-align: center;
}
.dentaku input {
    margin-bottom: 10px;
}
.dentaku a {
    display: inline-block;
    text-align: center;
    width: 30px;
    line-height: 30px;
    border: #333 1px solid;
    background-color: ivory;
    border-radius: 50%;
    margin: 5px 1px;
}
