/* header 時間の表示 */
header {
    margin-top: 0;
    height: 50px;
    width: 100%;
    background-color: darkcyan;
    color: whitesmoke;
}

.show-time {
    margin: 0;
    display: flex;
    align-items: center;
}
.show-time p {
    margin: auto 30px;
    line-height: 50px;
}

/* スライドショー */
.slide-show {
    text-align: center;
    /* display: flex; */
    /* margin-top: 30px auto; */
}

.slide-show img {
    width: 300px;
    height: 300px;
    margin: 20px;
}
.slide-show input {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    line-height: 30px;
    width: 50px;
    background-color: aquamarine;
    border: 1px #eee solid;
    border-radius: 4px;
}

/* 占い */
.uranai {
    text-align: center;
    margin-top: 30px;
}

/* カレンダー */
/*  */
.calendar {
    max-width: 600px;
    text-align: center;
    margin: 30px auto 0;
    color: #666;
}

.calendar-header {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-header input {
    background-color: transparent;
    margin: 0 30px;
    width: 30px;
}

#next-btn {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent #d4b361;
}

#prev-btn {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 26px 15px 0;
    border-color: transparent #d4b361 transparent transparent;
}

.calendar table {
    margin: 0 auto;
}

.calendar td {
    /* tdにサイズを持たせることで、カレンダーの行数が変わってもサイズが固定 */
    width: 30px;
    height: 20px;
}

.calendar td:first-child {
    color: red;
}

.calendar td:last-child {
    color: royalblue;
}

#calendar-main {
    text-align: center;
    width: 100%;
}

/* お天気 */
/* (TODO)表の中に罫線がひけない(=td, thにborderがかからない) */
.weather {
    text-align: center;
    color: #666;
}

.weather table {
    margin: 10px auto;
    width: 80%;
    text-align: center;
    /* 表の外側にわく */
    border: solid 1px black;
}

.weather th {
    padding: 5px;
    width: 20%;
    background: #fff5e5; /*背景色*/
}
