img {
    width: 400px;
    height: 400px;
}

.intro {
    margin: 40px 0;
    text-align: center;
}

.intro p {
    font-weight: bold;
}

.fruit {
    text-align: center;
}

.btn {
    display: inline-block;
    width: 80px;
    line-height: 50px;
    cursor: pointer;
    background-color: antiquewhite;
}
